<genericList>
    <section id="genericList" class="genericList-container inactive">
        <div class="movie-container">
         <img 
            src=""
            class="movie-img"
            alt="nombre de la pelicula"
          />
        </div>
    </section>    
</genericList>